*{

    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{

  background-color: #001220;
}

.form{

    margin: 30px;
}

.container{

    width: 100%;
    max-width: 450px;
    background-color: #f5f5f5;
    padding: 50px 60px 100px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.7);
    margin:  0 auto;
}


.container h1{

    font-size: 23px;
    text-align: center;
    padding-bottom: 30px;

}

.container h2{

    font-size: 18px;
    color: #0c2b6f;
    padding-bottom: 10px;
}

.container p{

    font-size: 15px;
    color: #041539d7;
    padding-bottom: 15px;

}

.container input{

    padding:  10px 30%;
    border-radius: 40px;
    border: none;
    text-align: center;
    outline: none;
}

.container button{

    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #2160e8;
    color: #f5f5f5;
    font-size: 15;
    margin: 20px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.7);
}

.container .btn-poli{

    margin-left: 90px;
}

.container button:hover{

    background-color: #1545ac;
    cursor: pointer;
}

.container textarea{

    width: 350px;
    resize: none;
    outline: none;

}
